<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">BizIdeas</a>
      <a href="#" data-target="slide-out" class="sidenav-trigger button-collapse show-on-large"><i class="fa fa-bars"></i></a>
      <!-- RIGHT NAV -->
      <ul class="right hide-on-med-and-down">
        {{#if user}}
          <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
          <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{else}}
          <li><a href="/ideas"><i class="fa fa-book"></i> Public Ideas</a></li>
        {{/if}}
      </ul>
      <!-- SIDE NAV -->
      <ul class="sidenav" id="slide-out">
        {{#if user}}
        {{else}}
        <li>
          <a href="/auth/google" class="red darked-1"><i class="fa fa-google left"></i> Login with Google</a>
        </li>
        {{/if}}
        <li><a href="/ideas"><i class="fa fa-book"></i> Public Ideas</a></li>
        {{#if user}}
        <li class="divider"></li>
        <li><a href="/dashboard"><i class="fa fa-cog"></i> Dashboard</a></li>
        <li><a href="/ideas/my"><i class="fa fa-user"></i> My Ideas</a></li>
        <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
