<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>BizIdeas - Share your business ideas!</title>
</head>
<body>
  {{> _header}}
  {{#if user}}
    {{> _add-btn}}
  {{/if}}
  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>
  {{> _footer}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
  <script>
    M.AutoInit();
    if ($("textarea[name='body']").length > 0) {
      CKEDITOR.replace('body', {
        plugins: 'wysiwygarea,toolbar,basicstyles,link'
      });
    }
  </script>
</body>
</html>
