body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

footer {
  margin-top: 20px;
}

.ideas .idea-title{
  margin-top: 0px;
  height: 55px;
  overflow: hidden;
}

.idea-text{
  height: 120px;
}

.dash-status{
  text-transform: capitalize;
}
.delete-form{
  display: inline;
}
