<h1>Welcome {{user.firstName}}!</h1>
<h4>Your Ideas</h4>
{{#if ideas}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each ideas}}
        <tr>
          <td><a href="/ideas/show/{{id}}">{{title}}</a></td>
          <td>{{formatDate date 'MMMM Do YYYY'}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            <a href="/ideas/edit/{{id}}" class="btn left-align"><i class="fa fa-pencil"></i> Edit</a>
            <form action="/ideas/{{id}}?_method=DELETE" method="POST" class="delete-form">
              <button type="submit" class="btn red"><i class="fa fa-remove"></i> Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not created any ideas yet.</p>
{{/if}}
