<h1>Welcome</h1>
<p>Welcome to BizIdeas 1.0.0</p>
<p>Post your business ideas and choose for them to be read by the world or completely private as your own personal ideas.</p>
{{#if user}}
{{else}}
  <a href="/auth/google" class="btn red darked-1"><i class="fa fa-google left"></i>Login with Google</a>
{{/if}}
