<h1>Add Ideas</h1>
<div class="row">
  <form action="/ideas" method="POST" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" name="title" />
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <select name="status" id="">
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
          <option value="unpublished">Unpublished</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <p>
        <label for="filled-in-box"><input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" checked="checked" /> <span>Allow Comments</span></label>
      </p>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Tell us your idea</h5>
        <textarea name="body"></textarea>
      </div>
    </div>

    <input type="submit" value="Submit" class="btn" />
  </form>
</div>
