<h1>Ideas</h1>
<div class="row">
  {{#each ideas}}
    <div class="col s12 m4 ideas">
      <div class="card">
        <div class="card-image">
          {{#if user}}
            {{{editIcon user.id ../user.id id}}}
          {{/if}}
        </div>
        <div class="card-content center-align">
          <h5 class="idea-title">{{title}}</h5>
          <p class="idea-text">{{stripTags (truncate body 150)}}</p>
          <br/>
          <div class="chip">
            <img src="{{user.image}}" alt="">
            <a href="/ideas/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
          </div>
        </div>
        <div class="card-action center-align">
          <a href="/ideas/show/{{id}}" class="btn grey">Read More</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No ideas found!</p>
  {{/each}}
</div>
