<div class="row">
  <div class="col s12 m8">
    <h3>
      {{idea.title}}
      <small>{{{editIcon idea.user.id user.id story.id false}}}</small>
    </h3>
    <div class="card idea">
      <div class="card-content">
        <span class="card-title">{{formatDate idea.date 'MMMM Do YYYY'}}</span>
        {{{idea.body}}}
      </div>
    </div>
    {{#if idea.allowComments}}
      <div class="card">
        <div class="card-content">
          <span class="card-title">Comments</span>
          {{#if user}}
            <form action="/ideas/comment/{{idea.id}}" method="post">
              <div class="input-field">
                <textarea name="commentBody" id="" class="materialize-textarea"></textarea>
                <label for="">Add Comment</label>
              </div>
              <input type="submit" value="Submit" class="btn" />
            </form>
          {{else}}
            <p>Please <a href="/auth/google">login</a> to leave a comment.</p>
          {{/if}}
        </div>
      </div>

      {{#each idea.comments}}
        <div class="card">
          <div class="card-content">
            <h5>{{commentBody}}</h5>
            <div class="chip">
              <img src="{{commentUser.image}}" alt="">
              <a href="/ideas/user/{{commentUser.id}}">{{commentUser.firstName}} {{commentUser.lastName}}</a>
            </div>
            <br>
            <small>Posted {{formatDate commentDate 'MMMM Do YYYY'}}</small>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
  <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">
          {{idea.user.firstName}} {{idea.user.lastName}}
        </span>
        <img src="{{idea.user.image}}" alt="" class="circle responsive-img">
      </div>
      <div class="card-action">
        <a href="/ideas/user/{{idea.user.id}}">
        More from {{idea.user.firstName}}
        </a>
      </div>
    </div>
  </div>
</div>
